*{
    margin: 0;
    padding: 0;
    font-family: gilroy;
}
body{
    background-color: black;
     width: 100%;
    height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center;
}
#main{
   overflow: hidden;

}
h1 span{
    display: inline-block;
    font-size: 50px;
    color: white;
    user-select: none;
}