* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: black;
}

main {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  flex-direction: column;
}

.box {
  height: 300px;
  width: 300px;
  margin: 20px;
  border-radius: 20px;
  background: linear-gradient(to right, red, blue);
}
button{
  padding: 20px 30px;
  border-radius: 50px;
  background: linear-gradient(to right,green,yellow);
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: 50px;
}
.button:active{
  scale: 0.9;
}