*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
    user-select: none;
}
.section1{
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 50px;
}
.part2{
    display: flex;
    gap: 40px;
    font-size: 30px;
}
nav h1{
    font-size: 50px;
    display: flex;
    align-items: center; 
    gap: 10px;         
}

.ri-shining-2-fill{
    font-size: 40px; 
    rotate: 45deg; 
}
button{
    padding: 0px 20px;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 7px;
}
.center{
    height: 80%;
    width: 100%;
    display: flex;
    padding: 70px 70px;
}
.center-part1{
    height: 100%;
    width: 40%;
}
.center-part2{
    background-image: url(https://neodrafts.com/_astro/hero12.Wth7asPL_ZjRIO9.svg);
    height: 100%;
    width: 60%;
}
.center-part1 h1{
    font-size: 60px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.center-part1 p{
    font-size: 20px;
    line-gap-override: 1.5;
    margin-bottom: 40px;
}
.center-part1 button{
    padding: 10px 30px;
    font-size: 25px;
    color: black;
}
.center-part1 button:hover{
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
    
}

.bottom img{
    height: 60px;
    width: auto; 
    object-fit: contain;
    
}
.section2{
    margin-top: 80px;
}